<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/style.css">
	<title>DomTube</title>
</head>
<body>
<h1>DomTube</h1>
<a href="/posts/new"><button id="create">Create a post</button></a>
<%= yield %>
</body>
</html>