<h1>NEW POST</h1>

<form action="/posts" method="POST">
	<div id="newPanel1">
		<label for="title"> Title:</label>
		<input type="text" name="title" placeholder="Video Title" id="newTitle">
	</div>
	<div id="newPanel2">
		<label for="body"></label>
		<textarea name="body" placeholder="Video Description" id="newDescription"></textarea>
	</div>
	<div id="newPanel3">	
		<label for='url'></label>
		<input type="text" name="url" placeholder="Embedded URL" id="newURL"></input>

		<input type="submit" value="Save" id="newSave">
	</div>
</form>